.extra1 {
	background: transparent url(https://tchol.org/images/ie6-png-fix-3.png) top left no-repeat;
	position: absolute;
	top: 40px;
	right: 0;
	width: 256px;
	height: 256px;
}

.extra1:hover {

	box-shadow: 0 0 4px 4px rgb(255, 0, 98);
}

header {
	padding-top: 5px;
	height: 240px;

}

header h1 {
	background: transparent url(https://carwad.net/sites/default/files/animated-welcome-banner-118501-9899714.gif) no-repeat top center;
	background-position: center center;
	display: block;
	width: 320px;
	height: 240px;
	float:none;


	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}

.sidebar {
	width: auto;
	text-align: center;
	border-style: dotted;
	background-color: magenta;
}
