html {
    background-image: url("tenor.gif");
}

body {
    background-image: url("tenor.gif");
    background-attachment: scroll;
}

.preamble {
    padding: 10px;
    border-style: dotted;
}

.main-supporting {
    padding: 10px;
    border-style: dotted;

}
.intro {
  background-image: url("tenor.gif");
}
