
body {
	font-family:"Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px #FA8072;
}

p{
  font-family:"Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px #FA8072;
}
h3 {
  font-family:"Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px #FA8072;
}
header h1 {
    font-family:"Comic Sans MS", cursive, sans-serif;
		text-shadow: 1px 1px #FA8072;
}
header h2 {
  font-family:"Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px #FA8072;
}

.sidebar {
font-family:"Comic Sans MS", cursive, sans-serif;
text-shadow: 1px 1px #FA8072;
	}
.sidebar ul {
  font-family:"Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px #FA8072;
  	}
#zen-intro{
	text-align: center;
}
