.preamble {
  background-color: magenta;
}
.main-supporting {
  background-color: cyan;
  -webkit-animation: bounce 1.2s ease-out;
  -moz-animation: bounce 800ms ease-out;
  -o-animation: bounce 800ms ease-out;
  animation: bounce 1.2s ease-out;
}

header {
  background-color: yellow;
}
header h1 {
  -webkit-animation: bounce 3s ease-out;
  -moz-animation: bounce 800ms ease-out;
  -o-animation: bounce 800ms ease-out;
  animation: bounce 3s ease-out;
}

.preamble {
	font-size: .8em;
	text-align: center;
	padding: 10px;
	background-color: #111;
	color: #fff;
	box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
	text-transform: uppercase;
	position: relative;
	font-weight: bold;

  -webkit-animation: bounce 3s ease-out;
  -moz-animation: bounce 800ms ease-out;
  -o-animation: bounce 800ms ease-out;
  animation: bounce 3s ease-out;
}
.extra1 {
  -webkit-animation: bounce 3s ease-out;
  -moz-animation: bounce 800ms ease-out;
  -o-animation: bounce 800ms ease-out;
  animation: bounce 3s ease-out;
}
#css-zen-garden {
  -webkit-animation: phase 15s ease-out;
}

/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
	40% {
    -webkit-transform:translateX(10%);
	}
	45% {
    -webkit-transform:translateX(20%);

		padding: 5px auto;
	}
	50% {
    -webkit-transform:translateX(30%%);
	}
	55% {
    -webkit-transform:translateX(40%);
		padding: 6px auto;
	}
	60% {
		-webkit-transform:translateX(50%);
	}
	65% {
		-webkit-transform:translateX(60%);
		padding: 6px auto;
	}
	70% {
		-webkit-transform:translateX(70%);
	}
	75% {
		-webkit-transform:translateX(80%);
		padding: 8px auto;
	}
	80% {
		-webkit-transform:translateX(90%);
	}
	85% {
		-webkit-transform:translateX(95%);
		padding: 8px auto;
	}
	90% {
		-webkit-transform:translateY(-5%);
	}
	95% {
		-webkit-transform:translateY(0);
		padding: 10px;
	}
	100% {
		-webkit-transform:translateY(0);
		padding: 10px;
	}
}

@-webkit-keyframes phase {
	0% {
    -webkit-transform:translateX(0%);
	}
	5% {
    -webkit-transform:translateX(5%);

	}
	15% {
    -webkit-transform:translateX(10%);
	}
	20% {
    -webkit-transform:translateX(20%);

	}
	25% {
    -webkit-transform:translateX(30%);

		padding: 4px auto;
	}
	30% {
    -webkit-transform:translateX(40%);

	}
	35% {
    -webkit-transform:translateX(0%);
		padding: 5px auto;
	}
	40% {
    -webkit-transform:translateX(-60%);
	}
	45% {
    -webkit-transform:translateX(0%);
		padding: 5px auto;
	}
	50% {
    -webkit-transform:translateX(-50%);
	}
	55% {
    -webkit-transform:translateX(0%);
		padding: 6px auto;
	}
	60% {
		-webkit-transform:translateY(-30%);
	}
	65% {
		-webkit-transform:translateY(0%);
		padding: 6px auto;
	}
	70% {
		-webkit-transform:translateY(-15%);
	}
	75% {
		-webkit-transform:translateY(0);
		padding: 8px auto;
	}
	80% {
		-webkit-transform:translateY(-10%);
	}
	85% {
		-webkit-transform:translateY(0);
		padding: 8px auto;
	}
	90% {
		-webkit-transform:translateY(-5%);
	}
	95% {
		-webkit-transform:translateY(0);
		padding: 10px;
	}
	100% {
		-webkit-transform:translateY(0);
		padding: 10px;
	}
}
