

p:hover { 
    background-color: cyan;
	color: magenta;
	transition-duration: 0.3s;
	filter: blur(10px);
	}
h3:hover { 
	background-color:red;
	color: yellow;
	transition-duration: 0.3s;
	filter: blur(10px);
	}
a:hover { 
	font-size: 400%;
	transition-duration: 0.3s;
	filter: blur(10px);

	}

	html {
		cursor: url(https://cdn2.iconfinder.com/data/icons/tiny-cute/32/duck.png), auto !important;	
	}

/* specific divs */

.summary:hover {
	font-size: 300%;
	background-color: magenta;
	}


.sidebar:hover {
	font-size: 300%;
	background-color: magenta;
	}

.sidebar {
	background-color: rgba(255, 255, 0, 0.5);
	filter: opacity();
}
